/* Modal general */
.modal-content {
  background-color: #0d1117 !important;
  color: #c9d1d9 !important;
  border: 1px solid #30363d;
  font-family: 'Times New Roman', Times, serif;
}

/* Inputs en la modal */
.modal-content input,
.modal-content textarea {
  background-color: #161b22 !important;
  color: #ffffff !important;
  border: 1px solid #30363d;
}

/* Texto de labels */
.modal-content label {
  color: #c9d1d9 !important;
  font-family: 'Times New Roman', Times, serif;
}

/* Botón azul */
.modal-footer .btn-primary {
  background-color: #238636 !important;
  border-color: #238636 !important;
  color: #fff;
}

/* Botón de cerrar (X) */
.modal-header .close {
  color: #fff !important;
  text-shadow: none;
}




/* Cambia el fondo del área editable del editor */
.note-editor .note-editable {
  background-color: #1e293b; /* Fondo azul oscuro como tu contenedor */
  color: #e2e8f0; /* Texto claro para contraste */
  border-radius: 0.375rem; /* bordes redondeados opcional */
  margin: 0.5rem;
}

.note-editor .note-toolbar {
  background-color: #1e293b; /* un azul aún más oscuro para la barra */
  margin: 0.5rem;
}

/* Opcional: remueve el borde exterior del editor */
.note-editor.note-frame {
  border: 1px solid #334155;
  background-color: transparent;
  
}

/* Ajusta colores del contenido mientras se escribe */
.note-editable p,
.note-editable span,
.note-editable div {
  color: #e2e8f0 !important;
}

.note-btn-group .note-btn {
    border-color: rgba(0,0,0,.2);
    padding: 0.28rem 0.65rem; 
    font-size: 12px;
}

/* Estilo para tablas insertadas en el editor Summernote */
.note-editor .note-editable table,
.note-editor .note-editable th,
.note-editor .note-editable td {
  color: #ffffff !important;       /* Texto blanco */
  border: 1px solid #475569;       /* Borde claro opcional */
  background-color: #1e293b;       /* Fondo oscuro en celdas */
}


/* Estilo para iframes dentro del editor Summernote */
.note-editor .note-editable iframe {
  max-width: 100%;
  width: 328px;
  height: 185px; /* Puedes ajustar esta altura */
  border: none;
  border-radius: 10px;
  display: block;
  margin: 1rem 0;
}
